* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(93, 114, 117);
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(25, 73, 128);
    color: rgb(250, 253, 253);
    position: relative;
    z-index: 1;

}

.nav {
    
}

.header h1 {
    font-display: inline-block;
    font-size: 50px;

}

.header div {
    padding-top: 20px;
    margin-right: 20px;
    font-size: 20px;
    float: right;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

.banner {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

.about-me {
    background-color: rgb(61, 83, 182);
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

