* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: cornflowerblue;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(25, 73, 128);
    color: rgb(236, 247, 247);

}

.header h1 {
    font-display: inline-block;
    font-size: 50px;

}

.header div {
    padding-top: 20px;
    margin-right: 20px;
    font-size: 20px;
    float: right;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}